<% @carts.each do |cart| %>
<% product = cart.product %>
<tr>
   <td><%if product.picture.present? %>
    <%= image_tag(product.picture, :style => "height: 50px ;width: 50px") %>
    <% end %>
  </td>
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td><%= product.price_in_cents %></td>
  <td class="waves-effect waves-light btn"><%= link_to 'Product Description', product %></td>
  <td><%= link_to 'Delete', product_delete_cart_path(cart,product_id: product.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn red' %></td>

  <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Amount: $99.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A month's subscription"
            data-amount="500"
            data-locale="auto"></script>
  <% end %>

</tr>
<% end %>
