<!DOCTYPE html>
<html>
  <head>
    <title>Hard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

  </head>

  <body>
    <nav>
      <div class="nav-wrapper #ffffff">
        <!-- <a href="#" class="brand-logo center">Our Watch Store</a> -->
        <li class="brand-logo center"><%= link_to 'Wyncode Watches', root_path %></li>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%= link_to 'HOME', root_path %></li>
          <li><%= link_to 'SHOP', products_path %></li>
          <li><%= link_to 'SIGN IN', products_path %></li>
        </ul>
      </div>
      <!-- <li id="signup"><%= link_to 'New Customer? SIGN UP', products_path %></li> -->

    </nav>
    <%= yield %>

  </body>
</html>
